.error {
color: red;
}
body, td, a, p, .h {
font-family:arial,sans-serif;
}
img {
border: none;
}

/* pageMod  */
.pageMod {
clear:both;
border-top: 1px solid #000;
margin-top: 20px;
height: 30px;
}
.pageMod ul li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

.pageMod p.count {
float:left;
line-height:38px;
padding:0pt 5px;
}
.pageMod ul.pages {
float:right;
padding-left:2px;
}
.pageMod ul.spages {
float:left;
margin:20px 0pt 0pt;
}
.pageMod ul li {
float:left;
margin:0pt 2px;
padding:6px 0pt 5px;
text-align:center;
}
.pageMod ul li a {
display:block;
font-family:tahoma,宋体,Geneva,Arial,sans-serif;
line-height:14px;
}
.pageMod ul li.cur strong {
display:block;
height:25px;
line-height:25px;
width:20px;
}
.pageMod ul li.num {
background:transparent url(/site_media/img/page_bg_num.gif) no-repeat scroll 50%;
}
.pageMod ul li.page {
background:transparent url(/site_media/img/page_bg.gif) no-repeat scroll 50%;
}
.pageMod ul li.page a {
height:25px;
width:58px;
}
.pageMod ul li.num a {
height:25px;
width:25px;
}
.pageMod ul li.sel {
padding-left:12px;
padding-top:8px;
}
.pageMod ul li a:hover {
background:#f00 none repeat scroll 0%;
}
.pageMod ul li a b {
display:block;
font-weight:normal;
padding-top:5px;
}

.activefield {
border:2px solid #ff0000;
background-color:#ffc;
}

