{% load i18n %}
{% extends "zipbooks/base.html" %}
{% block js %}
<script type="text/javascript" src="/site_media/js/jquery.formbuilder.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.jform.js"></script>
<script type="text/javascript">
createbookslist = function(data, o){
    var ol = $('<ol></ol>');
    $.each(data, function(){
        this.width = this.finished /100 * 20;
        this.img = this.finished==100?"/site_media/img/finish.jpg":"/site_media/img/unfinish.jpg";
        ol.append('<li class="book"><span class="finish"><img src=$img title="$finished%" width="$width" height="5" align="absmiddle"/> <a href="download/$id/"><img src="/site_media/img/save.png" title="Download in multi files" align="absmiddle"/></a> <a href="download/$id/?onefile=true"><img src="/site_media/img/save_one.png" title="Download in one file" align="absmiddle"/></a></span> <a href="$url">$title</a></li>'.template(this));
    });
    $(o).empty().append(ol);
}

$(document).ready(function (){
	$('#form_addbook').jform();
	

	$.get('booklist/', function(data){
		var d = data.evalJson();
		createbookslist(d.data, $('#books'));
	});
});
</script>
{% endblock %}

{% block content %}
<center>
<img src="/site_media/img/zipbook.jpg"/>
<div id="addbook">
<div id="message"></div>
<form action="add/" id="form_addbook">
<p><input name="url" size="55"/><input type="submit" value="Get"/></p>
</form>
</div>
</center>
<div id="books"></div>
<center>
<div>©limodou</div>
</center>
{% endblock %}
