{% load i18n utiltags %}
{% extends "zipbooks/base.html" %}
{% block css %}
<link href="/site_media/css/tabs.css" rel="stylesheet" type="text/css" />
<link href="/site_media/css/tabs_ie.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="/site_media/js/jquery.formbuilder.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.jform.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.tabs.pack.js"></script>
<script type="text/javascript">
createbookslist = function(data, o){
    var table = $('<table border="0" width="99%"><tbody></tbody></table>');
    var t = table.find('tbody');
    var tr = null;
    $.each(data, function(i){
        if(i%3 == 0){
            tr = $('<tr></tr>').appendTo(t);
        }
        this.width = this.finished /100 * 40;
        this.img = this.finished==100?"/site_media/img/finish.jpg":"/site_media/img/unfinish.jpg";
        tr.append('<td width="40"><img src=$img title="$finished%" width="$width" height="5" align="absmiddle"/></td><td width="30%"><a href="download/$id/"><img src="/site_media/img/save.png" title="Download in multi files" align="absmiddle"/></a> <a href="download/$id/?onefile=true"><img src="/site_media/img/save_one.png" title="Download in one file" align="absmiddle"/></a> <a href="$url">$title</a></td>'.template(this));
    });
    $(o).empty().append(table);
};

process_booklist = function(data){
    var data = data.evalJson().data;
    createbookslist(data[2], $('#books'));
    $('#pages').empty().paginate('booklist/', data[0], data[1]).append('<br style="clear:both;"/>');
    $('#pages a').click(function(){
        var href = this.href;
        $.get(href, process_booklist);
        return false;
    });
}

tab_click = function(t, d, h){
    if(d.id == 'booklist'){
        $.get('booklist/', process_booklist);
    }
};

on_success_finish = function(e, r){
    $('.tabs').triggerTab(2);
};

$(document).ready(function (){
    $('.tabs').tabs({onClick:tab_click});

	$('#form_addbook').jform({on_success_finish:on_success_finish});

});
</script>
{% endblock %}

{% block content %}
<center>
<img src="/site_media/img/zipbook.jpg"/>
<div id="addbook">
<div id="message"></div>
<form action="add/" id="form_addbook">
<p>输入想下载书的目录URL <input name="url" size="55"/> <input type="submit" value="执行"/></p>
</form>
</div>
</center>
<div class="tabs">
   <ul class="anchors">
      <li><a href="#whatsnew">最新更新</a></li>
      <li><a href="#booklist">已有书目</a></li>
      <li><a href="#sites">支持站点</a></li>
      <li><a href="#about">关于本站</a></li>
   </ul>
   <div id="whatsnew" class="fragment">
      本项目还在开发中，正在增加更多的站点支持，如果你感兴趣请关注本站。如果你有什么建议也请与我联系。当然我不一定会有能力实现你的要求。我的邮箱： limodou at gmail.com。
    <br />
    <br />
    如果你希望了解本项目的源码，可以看[关于本站]的介绍。本项目为开源项目。
   </div>
   <div id="booklist" class="fragment">
        <center><form action="search/">
        输入要查找的书名 <input type="text" size="30" name="search"/> <input type="submit" value="查询"/>
        </form></center>
        <div id="books"></div>
        <div id="pages"></div>
   </div>
   <div id="sites" class="fragment">
      {% pycall plugins.show_sites(6) %}
   </div>
   <div id="about" class="fragment">
      本站为开源项目，代码在 <a href="http://code.google.com/p/zipbook/">ZipBook</a> 可以找到。它是使用Django+jQuery开发的。项目遵守BSD版权发布。
      <br />
      作者：limodou <a href="http://www.donews.net/limodou">访问Blog</a>
   </div>
</div>

<center>
<br />
<div>©limodou</div>
</center>
{% endblock %}
